<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e.bogachov.unlmitedhouse">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="  UNLIMITED HOUSE"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
      <activity android:name=".RegLogSign.MainActivity"
          android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegLogSign.Login" />
        <activity
            android:name=".RegLogSign.Sms_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegLogSign.RegLocation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainMenu"
                  android:theme="@style/AppTheme" />
        <activity
            android:name=".Slide.SlideMenu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Slide.Profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Slide.Orders" />
        <activity android:name=".Slide.AddService" />
        <activity
            android:name=".Slide.ContactUs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegLogSign.SiginUp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ShopsCateg.ProductMenu" />
        <activity android:name=".ShopsCateg.BuyProduct" />
        <activity android:name=".ShopsCateg.ServiceTypeMenu" />
        <activity android:name=".ShopMenu" />
        <activity android:name=".MySchedule" />
        <activity android:name=".ShopOrders" />
        <activity android:name=".ShopInNumber" />
        <activity android:name=".Rating"></activity>
        <activity android:name=".ShopsCateg.ShopsMenu"
            android:theme="@style/Beauty"
            android:label="          Beauty"></activity>
    </application>

</manifest>